<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register||Allan</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="form">
        <% if (messages.error) { %>
            <%= messages.error %> 
           <% } %>
        <h1>Register</h1>
        <form action="/route/register" method="post">
            <input type="text" name="fname" placeholder="Firstname">
            <input type="text" name="lname" placeholder="Lastname">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="passwrd" id="pass" placeholder="Password">
            <button type="submit"> Register</button>
        </form>
        <div class="link">
            Already own an Account ? <a href="/login">Login</a>
        </div>
    </div>
</body>
</html>